* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #5E717D;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover {
    background-color: #3d4a51;
    color: white; }
  button:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "nimbus-sans-condensed";
  line-height: 1.2;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #5E717D;
  text-decoration: none; }
  a:hover {
    color: #3d4a51; }
  a:active, a:focus {
    color: #3d4a51;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "nimbus-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #5E717D;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(83, 99, 110, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/**** GLOBAL STYLES ****/
body {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
  margin: 0;
  -webkit-backface-visibility: hidden; }
  body.mobile-nav {
    left: 50%;
    overflow-x: hidden; }
    body.mobile-nav .module.navigation .navigation-menu {
      margin-left: 0; }

/**** MODULES ****/
.module > header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid #5E717D;
  margin-bottom: 3.75em;
  padding-top: 3.75em; }
  .module > header:after {
    content: "";
    display: table;
    clear: both; }
  .module > header > h2 {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    position: relative;
    color: #5E717D;
    font-size: 1.3em;
    top: 0.75em;
    background: white;
    padding: 0 10px; }

/* NAVIGATION MODULE */
.module.navigation {
  background-color: transparent;
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%; }
  @media screen and (min-width: 53.75em) {
    .module.navigation {
      left: 0;
      height: 60px;
      margin: 0;
      background-color: white;
      border-bottom: 1px solid #cdd5da; } }
  .module.navigation .navigation-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    margin: 0.75em;
    border-radius: 50%;
    border: 1px solid #5E717D;
    background-color: rgba(255, 255, 255, 0.9);
    color: #5E717D;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (min-width: 53.75em) {
      .module.navigation .navigation-menu-button {
        display: none; } }
    .module.navigation .navigation-menu-button:hover {
      color: #85AEC9; }
  .module.navigation .navigation-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 50%;
    margin-left: -50%;
    z-index: 9999;
    -webkit-transform-style: preserve-3d;
    clear: both;
    overflow: visible;
    z-index: 9999;
    padding: 0.75em; }
    .module.navigation .navigation-menu:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      .module.navigation .navigation-menu {
        max-width: 68em;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        width: 100%;
        padding: 0; }
        .module.navigation .navigation-menu:after {
          content: "";
          display: table;
          clear: both; } }
    .module.navigation .navigation-menu li {
      display: block;
      line-height: 60px;
      overflow: hidden;
      padding-right: 1em;
      text-align: left;
      width: 100%;
      z-index: 9999;
      border-bottom: 1px solid #333; }
      @media screen and (min-width: 53.75em) {
        .module.navigation .navigation-menu li {
          background: transparent;
          display: inline;
          line-height: 60px;
          border-bottom: none;
          text-align: center; }
          .module.navigation .navigation-menu li a {
            padding-right: 1em; }
          .module.navigation .navigation-menu li img {
            height: 60px; } }
      .module.navigation .navigation-menu li a {
        color: #5E717D;
        display: inline-block;
        font-family: "nimbus-sans-condensed";
        text-transform: uppercase; }
        .module.navigation .navigation-menu li a:hover {
          color: #85AEC9; }

/* INTRO MODULE */
.module.intro {
  background: url('../images/banner.png'), -webkit-linear-gradient(-285deg, #C9C5A2, #38637d), no-repeat #38637d scroll;
  background: url('../images/banner.png'), linear-gradient(15deg, #C9C5A2, #38637d), no-repeat #38637d scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 8em;
  padding-top: 5em; }
  .module.intro .intro-logo {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    margin-top: 3em; }
    .module.intro .intro-logo:after {
      content: "";
      display: table;
      clear: both; }
    .module.intro .intro-logo:after {
      content: "";
      display: table;
      clear: both; }
    .module.intro .intro-logo img {
      width: 14em; }
  .module.intro .intro-content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin: auto;
    text-align: center;
    color: white; }
    .module.intro .intro-content:after {
      content: "";
      display: table;
      clear: both; }
    .module.intro .intro-content:after {
      content: "";
      display: table;
      clear: both; }
    .module.intro .intro-content > h1 {
      font-weight: 200;
      font-size: 1.4em;
      margin-bottom: 0.5em;
      margin-top: 0; }
      @media screen and (min-width: 53.75em) {
        .module.intro .intro-content > h1 {
          font-size: 1.4em; } }
    .module.intro .intro-content > p {
      margin: auto;
      font-weight: 200;
      line-height: 1.4em; }
      @media screen and (min-width: 53.75em) {
        .module.intro .intro-content > p {
          font-size: 1.1em;
          max-width: 50%; } }
    .module.intro .intro-content button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(#ffffff, #e3e3e3);
      background-image: linear-gradient(#ffffff, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(#ffffff, #e5e0e0);
      background-image: linear-gradient(#ffffff, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      .module.intro .intro-content button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .module.intro .intro-content button:active:not(:disabled), .module.intro .intro-content button:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      .module.intro .intro-content button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f3f3;
        background-image: -webkit-linear-gradient(#f2f3f3, #ded8d8);
        background-image: linear-gradient(#f2f3f3, #ded8d8); }
      .module.intro .intro-content button:active:not(:disabled), .module.intro .intro-content button:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      .module.intro .intro-content button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }

/* ABOUT MODULE */
.module.about {
  overflow: auto; }
  .module.about .about-list {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5em; }
    @media screen and (min-width: 53.75em) {
      .module.about .about-list {
        padding: 0; } }
    .module.about .about-list:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      .module.about .about-list .about-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .module.about .about-list .about-item:last-child {
          margin-right: 0; }
        .module.about .about-list .about-item:nth-child(2n) {
          margin-right: 0; }
        .module.about .about-list .about-item:nth-child(2n+1) {
          clear: left; } }
    .module.about .about-list .about-item .about-icon {
      float: left;
      background: #85AEC9;
      padding: 1.25em;
      border: 3px solid #C9C5A2;
      border-radius: 50%;
      width: 5em;
      height: 5em; }
    .module.about .about-list .about-item .about-description {
      margin-left: 6.5em;
      margin-bottom: 2em; }
      .module.about .about-list .about-item .about-description h2 {
        font-size: 1.8em;
        padding-top: 0.71429em;
        margin-bottom: 0.83333em;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
        display: inline-block; }

/* PROJECTS MODULE */
.module.projects .project {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: #f8f7f3; }
  .module.projects .project:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 53.75em) {
    .module.projects .project {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .module.projects .project:after {
        content: "";
        display: table;
        clear: both; } }
  .module.projects .project .image {
    background: url('../images/banner.png'), -webkit-linear-gradient( #85AEC9, #C9C5A2), no-repeat #85AEC9 scroll;
    background: url('../images/banner.png'), linear-gradient( #85AEC9, #C9C5A2), no-repeat #85AEC9 scroll;
    background-color: #85AEC9;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .module.projects .project .image {
        display: table-cell;
        width: 33.33333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(132, 126, 77, 0.2); } }
  .module.projects .project .content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      .module.projects .project .content {
        display: table-cell;
        width: 66.66667%;
        padding: 4em 4em 4em 4em; } }
  .module.projects .project .content h1 {
    margin-bottom: 0.9em; }
  .module.projects .project .content p, .module.projects .project .content ul {
    color: gray; }
  .module.projects .project .content ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
  .module.projects .project .content button {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(#ffffff, #e3e3e3);
    background-image: linear-gradient(#ffffff, #e3e3e3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    border: 1px solid #dfd8d8;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(#ffffff, #e5e0e0);
    background-image: linear-gradient(#ffffff, #e5e0e0);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    font-size: 1em;
    outline: none; }
    .module.projects .project .content button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f2f2;
      background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
      background-image: linear-gradient(#f2f2f2, #dbdbdb); }
    .module.projects .project .content button:active:not(:disabled), .module.projects .project .content button:focus:not(:disabled) {
      border: 1px solid #dbdbdb;
      box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
    .module.projects .project .content button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f3f3;
      background-image: -webkit-linear-gradient(#f2f3f3, #ded8d8);
      background-image: linear-gradient(#f2f3f3, #ded8d8); }
    .module.projects .project .content button:active:not(:disabled), .module.projects .project .content button:focus:not(:disabled) {
      border: 1px solid #dfd8d8;
      box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
    .module.projects .project .content button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

/* PROFILES MODULE */
.module.profiles {
  background: #e5e3d2; }
  .module.profiles > header h2 {
    background: #e5e3d2; }
  .module.profiles .profile-list {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .module.profiles .profile-list:after {
      content: "";
      display: table;
      clear: both; }
    .module.profiles .profile-list .profile {
      text-align: center;
      margin-bottom: 3em; }
      @media screen and (min-width: 53.75em) {
        .module.profiles .profile-list .profile {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          .module.profiles .profile-list .profile:last-child {
            margin-right: 0; }
          .module.profiles .profile-list .profile:nth-child(2n) {
            margin-right: 0; }
          .module.profiles .profile-list .profile:nth-child(2n+1) {
            clear: left; } }
      .module.profiles .profile-list .profile .profile-photo {
        margin: auto; }
        .module.profiles .profile-list .profile .profile-photo img {
          border-radius: 50%;
          border: 3px solid white;
          width: 18em;
          height: 18em;
          margin-bottom: 1.5em; }
      .module.profiles .profile-list .profile .profile-description {
        text-align: center; }
        .module.profiles .profile-list .profile .profile-description h2 {
          font-size: 1.8em;
          text-align: center; }
        .module.profiles .profile-list .profile .profile-description h3 {
          font-size: 1.5em; }
        .module.profiles .profile-list .profile .profile-description p {
          margin: 1.5em;
          margin-top: 0.75em;
          text-align: justify; }

/* FOOTER MODULE */
.module.contact {
  position: relative; }
  .module.contact .contact-wrapper {
    position: absolute;
    z-index: 999999;
    width: 100%;
    padding: 1.5em; }
    @media screen and (min-width: 53.75em) {
      .module.contact .contact-wrapper {
        padding: 0; } }
    .module.contact .contact-wrapper .contact-info {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      .module.contact .contact-wrapper .contact-info:after {
        content: "";
        display: table;
        clear: both; }
      .module.contact .contact-wrapper .contact-info .contact-address {
        background-image: url('../images/aware_logo.png');
        background-color: rgba(255, 255, 255, 0.8);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 50%;
        border: 1px solid white;
        border-radius: 8px;
        padding: 3em;
        margin-top: 3em; }
        @media screen and (min-width: 53.75em) {
          .module.contact .contact-wrapper .contact-info .contact-address {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-left: 51.17883%; }
            .module.contact .contact-wrapper .contact-info .contact-address:last-child {
              margin-right: 0; } }
        .module.contact .contact-wrapper .contact-info .contact-address h4 {
          margin-bottom: 0.75em; }
  .module.contact .map-container {
    height: 40em; }
